.dropdown{
	text-align:center;
}
.button {
	text-align: center;
}
/*.blue{
	padding-left: 450pt;
}*/
.text-center{
	padding-top: 20pt;
}
.text-center h1{
	padding-top: 30pt;
}

.dropdown-menu ul{
	padding-left: 40pt;
}
.red{
	font-size:80pt;
	padding-top: 110pt;
	color:pink;
	font-family: "Georgia" sans-serif;
	font-weight:lighter;
	text-align: center;
}
.green{
	font-family: sans-serif;
	color:gray;
	font-size: 15pt;
	font-weight:lighter;
}

.drop{
	padding-left: 20px;
}


@media (max-width: 480px) {
	.title {
		font-size: 40px;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.title {
		font-size: 40px;
	}
}


@media (max-width: 480px) {
	.sub {
		font-size: 10px;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.sub {
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.text-center {
	 padding:0;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.text-center {
		padding:0;
	}
}
